In [16]:
import pandas as pd
from pandas import Int64Dtype
import numpy as np
import os

pd.set_option('display.max_columns', None)

In [ ]:
path = r'C:\Users\markd\hamilton-county-homes-scraper-main\data\raw\downloads\historical_sales'
os.chdir(path)
files = os.listdir()

In [42]:
col_names = ['book','plat','parcel', 'parcel_id','tax_district', 'owner_name_1',
            'owner_name_2', 'land_value', 'building_value', 'property_class', 'house_num',
            'street_name', 'street_suffix', 'location_zipcode', 'month_sale','day_sale',
            'year_sale', 'num_parcels', 'sale_amount', 'valid', 'conveyance_number',
            'deed_type', 'appraisal_area', 'previous_owner','parcel_number']

col_dtypes = {'book':str,'plat':str,'parcel':str, 'parcel_id':str,'tax_district':str, 'owner_name_1':str,
            'owner_name_2':str, 'land_value':str, 'building_value':str, 'property_class':str, 'house_num':str,
            'street_name':str, 'street_suffix':str, 'location_zipcode':str, 'month_sale':str,'day_sale':str,
            'year_sale':str, 'num_parcels':float, 'sale_amount':float, 'valid_sale':str, 'conveyance_number':str,
            'deed_type':str, 'appraisal_area':str, 'previous_owner':str,'parcel_number':str}

In [46]:
files = [ 
        'transfer_files_ytd_2007.csv',
        'transfer_files_ytd_2008.csv',
        'transfer_files_ytd_2009.csv',
        'transfer_files_ytd_2010.csv',
        'transfer_files_ytd_2011.csv',
        'transfer_files_ytd_2012.csv',
        'transfer_files_ytd_2013.csv',
        'transfer_files_ytd_2014.csv',
        'transfer_files_ytd_2015.csv',
        'transfer_files_ytd_2016.csv',
        'transfer_files_ytd_2017.csv',
        'transfer_files_ytd_2018.csv',
        'transfer_files_ytd_2019.csv',
        'transfer_files_ytd_2020.csv',
        'transfer_files_ytd_2021.csv',
        'transfer_files_ytd_2022.csv',
        'transfer_files_ytd_2023.csv',
        'transfer_files_ytd_2024.csv',
        'transfer_ytd_new.csv']

In [47]:
all_transfers = pd.DataFrame()

for i in files:
    print(i)
    transfers = pd.read_csv(i,
                            names= col_names,
                            header= 1,
                            dtype= col_dtypes
                                )
    all_transfers = pd.concat([all_transfers, transfers],axis=0)

transfer_files_ytd_2007.csv
transfer_files_ytd_2008.csv
transfer_files_ytd_2009.csv
transfer_files_ytd_2010.csv
transfer_files_ytd_2011.csv
transfer_files_ytd_2012.csv
transfer_files_ytd_2013.csv
transfer_files_ytd_2014.csv
transfer_files_ytd_2015.csv
transfer_files_ytd_2016.csv
transfer_files_ytd_2017.csv
transfer_files_ytd_2018.csv
transfer_files_ytd_2019.csv
transfer_files_ytd_2020.csv
transfer_files_ytd_2021.csv
transfer_files_ytd_2022.csv
transfer_files_ytd_2023.csv
transfer_files_ytd_2024.csv
transfer_ytd_new.csv

In [52]:
all_transfers = all_transfers.sort_values(['parcel_number','year_sale']).reset_index().drop('index',axis=1)

In [54]:
all_transfers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354909 entries, 0 to 354908
Data columns (total 25 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   book               354909 non-null  object
 1   plat               354909 non-null  object
 2   parcel             354909 non-null  object
 3   parcel_id          354909 non-null  object
 4   tax_district       354909 non-null  object
 5   owner_name_1       354895 non-null  object
 6   owner_name_2       65727 non-null   object
 7   land_value         354909 non-null  object
 8   building_value     354909 non-null  object
 9   property_class     354909 non-null  object
 10  house_num          343345 non-null  object
 11  street_name        354330 non-null  object
 12  street_suffix      350210 non-null  object
 13  location_zipcode   354909 non-null  object
 14  month_sale         354909 non-null  object
 15  day_sale           354909 non-null  object
 16  year_sale          354909 non-null  object
 17  num_parcels        354909 non-null  float64
 18  sale_amount        354909 non-null  float64
 19  valid              354909 non-null  object
 20  conveyance_number  353612 non-null  object
 21  deed_type          354872 non-null  object
 22  appraisal_area     354898 non-null  object
 23  previous_owner     354909 non-null  object
 24  parcel_number      354908 non-null  object
dtypes: float64(2), object(23)
memory usage: 67.7+ MB

In [56]:
os.chdir(r'C:\Users\markd\hamilton-county-homes-scraper-main\data\raw\downloads\taxes')

In [103]:
tx1_name_cols = ['SMDA_NUM', 'Unit', 'location_street_name', 'location_house_number', 'LOC_SEC_NO',
       'location_street_suffix', 'LOC_ST_IND', 'location_street_direction', 'tax_district', 'school_district',
       'prop_class_code', 'owner_name_1', 'owner_name_2', 'owner_address_1',
       'owner_address_2', 'mailing_name_1', 'mailing_name_2', 'mailing_address_1', 'mailing_address_2',
       'property_description1', 'property_description2',
       'property_description3', 'property_description4', 'board_rev_flag',
       'VALID_SALE', 'market_land_value', 'HMSTD_FLAG', 'FILL_01', 'num_parcels',
       'ag_use', 'RED_25_FLAG', 'BANK_CODE', 'FILL_02', 'DEED_TYPE',
       'market_impr_value', 'divided_flag', 'sale_amount', 'total_market_value',
       'new_construction_flag', 'transfer_date', 'foreclosure_flag', 'conveyance_number',
       'spec_assess_flag', 'FILL_03', 'deed_number', 'annual_taxes', 'deeded_acreage',
       'annual_taxes_paid', 'FOX_DELETED', 'PAR_DELETED', 'parcel_number', 'OWNER_SORT',
       'delinquent_taxes']

tx_name_cols = ['parcel_number', 'owner_occup_flag', 'homestead_flag', 'book', 'page',
       'property_id', 'mltown', 'prop_class_code', 'class_description',
       'appraisal_area', 'area_description', 'owner_name_1', 'owner_name_2',
       'owner_address_1', 'owner_address_2', 'owner_city', 'owner_state',
       'owner_zip', 'location_house_number', 'location_street_direction',
       'location_street_name', 'location_street_suffix', 'location_city',
       'location_state', 'location_zip', 'mailing_name_1', 'mailing_name_2',
       'mailing_address_1', 'mailing_address_2', 'mailing_city',
       'mailing_state', 'mailing_zip', 'property_description', 'divided_flag',
       'new_construction_flag', 'spec_assess_flag', 'school_district',
       'school_district_desc', 'tax_district', 'tax_district_desc',
       'foreclosure_flag', 'deeded_acreage', 'rental_registration_flag',
       'board_rev_flag', 'transfer_date', 'sale_amount', 'num_parcels',
       'conveyance_number', 'deed_number', 'sale_source', 'sale_type',
       'previous_owner_name_1', 'previous_owner_name_2', 'ag_use',
       'market_land_value', 'market_impr_value', 'total_market_value',
       'annual_taxes', 'annual_taxes_paid', 'delinquent_taxes',
       'delinquent_taxes_paid', 'active_flag']

In [99]:
tax.head()

,SMDA_NUM,Unit,LOC_STREET,LOC_HOUSE_NO,LOC_SEC_NO,LOC_ST_DESC,LOC_ST_IND,LOC_ST_DIR,TAX_DIST,SCHOOL_CODE,CLASS_CODE,OWNER_LINE1,OWNER_LINE2,OWNER_LINE3,OWNER_LINE4,MAIIL_LINE1,MAIL_LINE2,MAIL_LINE3,MAIL_LINE4,PROPERTY_DESCRIPTION1,PROPERTY_DESCRIPTION2,PROPERTY_DESCRIPTION3,PROPERTY_DESCRIPTION4,BOR_FLAG,VALID_SALE,MKT_LAND_VAL,HMSTD_FLAG,FILL_01,NUM_PARCELS,CAUV_VALUE,RED_25_FLAG,BANK_CODE,FILL_02,DEED_TYPE,MKT_IMPR_VAL,DIIV_FLAG,SALE_AMOUNT,MKT_TOTAL_VAL,NEW_CONS_FLAG,TRANSFER_DATE,FORECL_FLAG,CONVEY_NO,SPEC_FLAG,FILL_03,DEED_NUMBER,ANNUAL_TAXES,ACRES,TAXES_PAID,FOX_DELETED,PAR_DELETED,PARCEL_ID,OWNER_SORT,DELQ_TAXES
0,0010001000100,,SUSSEX,2327,,AV,,,001,1,510,MORK PAMELA E,,2327 SUSSEX AVE,"CINCINNATI, OH 45230-1403",FIRST AMERICAN REAL ESTAT,TAX SERVICE,1721 MOONLAKE BLVD,"HOFFMAN ESTATES, IL 60194",NS COFFEY ST REAR 0.246AC,PT LTS 5-6 JUSTICE COR-,BLYS ADDN MILT SUR 618,,N,Y,21400,N,,1,0,Y,,,17,124100,N,160000,145500,N,20050810,N,40674,N,,63995,2753.14,0.246,2753.14,F,,0010001000100,MORK PAMELA E,0
1,0010001000200,,SUSSEX,2319,,AV,,,001,1,510,DANNENBERG GREGORY E,,2319 SUSSEX AVE,"CINCINNATI, OH 45230-1403",FIRST AMERICAN REAL ESTAT,TAX SERVICE,1721 MOONLAKE BLVD,"HOFFMAN ESTATES, IL 60194",2319 SUSEX ST 70 X 165,PT LOTS 4-5-6 J CORBLYS,SUB,,N,Y,22800,N,,1,0,Y,,,17,67900,N,93500,90700,N,20010221,N,2026,Y,,929705,1727.88,0.265,1727.88,F,,0010001000200,DANNENBERG GREGORY E,0
2,0010001000300,,SUFFOLK,2270,,ST,,,001,1,510,KELLY ELIZABETH A & ROBER,,2270 SUFFOLK ST,"CINCINNATI, OH 45230 USA",COUNTRYWIDE,,1757 TAPO CANYON RD #300,"SIMI VALLEY, CA 93063 USA",SUFFOLK ST,140 X 66.50 IRR,PT LOT 3 A A REBOLDS SUB,,N,Y,21400,N,,1,0,N,,,17,87200,N,138000,108600,N,20050408,N,31825,Y,,50533,2318.40,0.214,2318.40,F,,0010001000300,KELLY ELIZABETH A & ROBER,0
3,0010001000400,,SUFFOLK,2266,,ST,,,001,1,510,BENEVOLENT PARTNERS LLC,,7795 FIVE MILE RD,"CINCINNATI, OH 45230 USA",CORE RESOURCES INC,,7795 FIVE MILE RD,"CINCINNATI, OH 45230 USA",SUFFOLK ST FT IRR,PT LOT 2 A A REBOLDS SUB,,,N,Y,19700,N,,1,0,N,,,17,65100,N,105000,84800,N,20030319,N,3757,Y,,998003,1726.70,0.214,1726.70,F,,0010001000400,BENEVOLENT PARTNERS LLC,0
4,0010001000500,,SUFFOLK,2262,,ST,,,001,1,510,LITKENHAUS FRANK J &,CAROLYN,2262 SUFFOLK ST,"CINCINNATI, OH 45230-1431",LITKENHAUS FRANK J,& CAROLYN,2262 SUFFOLK ST,"CINCINNATI, OH 45230-1431",2262 SUFFOLK ST,66.50 X 200,LOT 1 A A REBOLD SUB,,N,N,24400,N,,0,0,Y,,,0,64100,N,0,88500,N,19780324,N,0,Y,,,1685.76,0.305,1685.76,F,,0010001000500,LITKENHAUS FRANK J & CARO,0

In [ ]:
tx_dtypes = {'parcel_number':str, 'Unit':str, 'location_street_name':str, 'location_house_number':str, 'LOC_SEC_NO':str,
       'location_street_suffix':str, 'LOC_ST_IND':str, 'location_street_direction':str, 'tax_district':str, 'school_district':str,
       'prop_class_code':str, 'owner_name_1':str, 'owner_name_2':str, 'owner_address_1':str,
       'owner_address_2':str, 'mailing_name_1':str, 'mailing_name_2':str, 'mailing_address_1':str, 'mailing_address_2':str,
       'property_description1':str, 'property_description2':str,
       'property_description3':str, 'property_description4':str, 'board_rev_flag':str,
       'VALID_SALE':str, 'market_land_value':float, 'HMSTD_FLAG':str, 'FILL_01':str, 'num_parcels':int,
       'ag_use':str, 'RED_25_FLAG':str, 'BANK_CODE':str, 'FILL_02':str, 'DEED_TYPE':str,
       'market_impr_value':float, 'divided_flag':str, 'sale_amount':float, 'total_market_value':float,
       'spec_assess_flag':str, 'FILL_03':str, 'deed_number':str, 'annual_taxes':float, 'deeded_acreage':float,
       'annual_taxes_paid':float, 'FOX_DELETED':str, 'PAR_DELETED':str, 'parcel_id':str, 'OWNER_SORT':str,
       'delinquent_taxes':str}


tx1_dtypes = {'parcel_number':str, 'owner_occup_flag':str, 'homestead_flag':str, 'book':str, 'page':str,
       'property_id':str, 'mltown':str, 'prop_class_code':str, 'class_description':str,
       'appraisal_area':str, 'area_description':str, 'owner_name_1':str, 'owner_name_2':str,
       'owner_address_1':str, 'owner_address_2':str, 'owner_city':str, 'owner_state':str,
       'owner_zip':str, 'location_house_number':str, 'location_street_direction':str,
       'location_street_name':str, 'location_street_suffix':str, 'location_city':str,
       'location_state':str, 'location_zip':str, 'mailing_name_1':str, 'mailing_name_2':str,
       'mailing_address_1':str, 'mailing_address_2':str, 'mailing_city':str,
       'mailing_state':str, 'mailing_zip':str, 'property_description':str, 'divided_flag':str,
       'new_construction_flag':str, 'spec_assess_flag':str, 'school_district':str,
       'school_district_desc', 'tax_district', 'tax_district_desc',
       'foreclosure_flag', 'deeded_acreage', 'rental_registration_flag',
       'board_rev_flag', 'transfer_date', 'sale_amount', 'num_parcels',
       'conveyance_number', 'deed_number', 'sale_source', 'sale_type',
       'previous_owner_name_1', 'previous_owner_name_2', 'ag_use',
       'market_land_value', 'market_impr_value', 'total_market_value',
       'annual_taxes', 'annual_taxes_paid', 'delinquent_taxes',
       'delinquent_taxes_paid', 'active_flag'}

parse_dates = ['transfer_date']

In [ ]:
files = os.listdir()

tax = pd.read_excel('TaxYear2004Pay2005Export.xlsx',
                    names=tx1_name_cols,
                    header=1,
                    dtype=tx_dtypes,
                    parse_dates=parse_dates)

In [71]:
tax2 = pd.read_excel('TaxYear2015Pay2016Export.xlsx')
tax3 = pd.read_excel('TaxYear2021Pay2022Export.xlsx')

In [125]:
tax.head().to_clipboard()

In [127]:
tax2.head().to_clipboard()

In [ ]:
for i in files[0:10]:

['TaxYear2002Pay2003Export.xlsx',
 'TaxYear2004Pay2005Export.xlsx',
 'TaxYear2005Pay2006Export.xlsx',
 'TaxYear2008Pay2009Export.xlsx',
 'TaxYear2009Pay2010Export.xlsx',
 'TaxYear2010Pay2011Export.xlsx',
 'TaxYear2011Pay2012Export.xlsx',
 'TaxYear2012Pay2013Export.xlsx',
 'TaxYear2013Pay2014Export.xlsx',
 'TaxYear2014Pay2015Export.xlsx']